/MDK-ARM/Listings/*
/MDK-ARM/RTE/*
/MDK-ARM/elf/*
/MDK-ARM/Objects/*
!/MDK-ARM/Objects/*.sct
/MDK-ARM/menu_test.uvguix*
/MDK-ARM/*.scvd
!/MDK-ARM/menu_test.uvprojx
/build/*
/MDK-ARM/build/*
!/MDK-ARM/build/*.sct
/MDK-ARM/menu_test
/MDK-ARM/DebugConfig
.cache
compile_commands.json