# choose st-link/j-link/dap-link etc.
adapter driver cmsis-dap
transport select swd
# download speed = 10MHz
adapter speed 10000
#上面三个描述的就是调试器的类型

#下面两个是描述目标芯片的类型，我之前一直以为是调试器芯片的类型。
source [find ./tools/openocd_gd32f303.cfg]
# 0x10000 = 64K Flash Size
set FLASH_SIZE 0x40000

# 指定openocd的tcl端口
tcl_port 4365
